.visualEditor {
  background-color: #eee;
}

.templateControls {
  width: 21cm;
  margin: 0 auto;
}

#boxPropertiesForm textarea {
  width: 100% !important;
  height: 200px !important;
}

.page-landscape {
	min-height: 21.6cm;
	width: 27.9cm;
}
